<div id="indexButtons">
			<%= link_to new_user_session_url do
				button_tag "Sign In"
			 end %> 
			<%= link_to new_user_registration_url do
				button_tag "Sign Up"
			 end %><br>	
</div>


<div class="wrapperExplain">
	<h1 id="siteTitle"> The Mood-O-Meter </h1>
	<br>
	<h3> Have you ever wondered if your mood is trackable? They are now. </h3>
	<br>
	<br>
	<h3> What's this all about? </h3>
	<h4> Our moods dictate how we interpret our experiences. The Mood-O-Meter app makes it easy for you to record exactly how you're feeling and what contributed to your state-of-mind from your morning routine to your daily workload all the way to your evening commute home. By recording your mood on a regular basis you give yourself the opportunity to improve your quality of life in a free and easy way.  </h4>
	<br>
	<br>
	<h3> How it Works: </h3>
	<p> 1. Each day select the emoji that most represents your current state-of-mind. Over time we will identify trends within your emoji selection.</p>
	<br>
	<p> 2. Fill out a short checklist to identify daily activities and their correlation to your daily mood. </p>
	<br>
	<p> 3. Write a short entry that personalizes your current mood. When you check out your responses over the course of a few weeks this information will allow you to more accurately reflect on how and why you feel the way you do. </p>
</div>