<div class="wrapperExplain">
		<br><br>
			<%= image_tag "happy_sad.jpg", id: "welcomeImage"%>
	<h1 id="siteTitle"> The Mood-O-Meter </h1>
		<br>
	<h2 class="subHead"> Have you ever wondered if your mood is trackable?</h2>
	<h3 class="subHead"> It is now. </h3>
	<br>
	<div id="indexButtons">
<div id="indexButtons">
	<%= link_to new_user_session_url do
		button_tag "Sign In", id: "index_BTN_in"
	end %> 
	<%= link_to new_user_registration_url do
		button_tag "Sign Up", id: "index_BTN_up"
	end %>
		<br>
		<br>		
	</div>
	<div class="container-fluid">
		<div id="textboxes">
			<br>
			<br>
			<br>
		<hr>
			<br>
			<br>
		<div class="row">
			<div class="col-md-6">
			<h2 class="textTitle">  What's this all about?  </h2>
		</div>
			<br>
		<div class="col-md-6">
			<h4> Our moods dictate how we interpret our experiences.</h4>
			<h5> The Mood-O-Meter app makes it easy for you to record exactly how you feel and what actions contributed to your state-of-mind from your morning routine to your daily workload to your wild nights out. By recording your mood on a regular basis you give yourself the opportunity to improve your quality of life in a free and easy way.  </h5>
				<br> 
				<br>
			</div>
				<br>
				<br>
			<hr>
				<br>
				<br>
			
			<div class="col-md-6">
				<h2 class="textTitle">  How this works: </h2>
			</div>
				<br>
			<div class="col-md-6">
				<p> 1. Fill out a short checklist to identify daily activities and their correlation to your daily mood. </p>
				<br>
				<p> 2. On a scale of 1-10 rate your degree of happines for the day. Make sure to consider your whole day and not just a fleeting emotion, this will help to increase the accuracy of your the correlations we draw between your activities and your mood.</p>
				<br>
				<p> 3. Write a short entry that personalizes your current mood. When you check out your responses over the course of a few weeks this information will allow you to more accurately reflect on how and why you feel the way you do. </p>
			</div>
	</div>

			<br>
			<br>
			<br>
	</div>
	</div>
		<br>
		<br>
		<br>
</div>








