<ul class="nav navbar-nav" id="post_nav_bar">
 	<li><a href="#" class="scroll-link" data-id="profile_info">Profile Info</a></li>
	<li><a href="#" class="scroll-link" data-id="graph">Mood Data</a></li>
	<li><a href="#" class="scroll-link" data-id="post_history">Post History</a></li>
</ul>


<div id="profile_info" class="page-section">
	<p>Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content </p>
</div>

<div id="graph" class="page-section">
	<p>Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content </p>
</div>

<div id="post_history" class="page-section">
	<p>Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content </p>
</div>

