/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/** Coolors Exported Palette - coolors.co/03256c-2541b2-1768ac-06bee1-ffffff **/

/* HSL */
/*$color1: hsla(221%, 95%, 22%, 1);
$color2: hsla(228%, 66%, 42%, 1);
$color3: hsla(207%, 76%, 38%, 1);
$color4: hsla(190%, 95%, 45%, 1);
$color5: hsla(0%, 0%, 100%, 1);*/

/* RGB */
/*$color1: rgba(3, 37, 108, 1);
$color2: rgba(37, 65, 178, 1);
$color3: rgba(23, 104, 172, 1);
$color4: rgba(6, 190, 225, 1);
$color5: rgba(255, 255, 255, 1);**/