/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/** Coolors Exported Palette - coolors.co/

/* HSL */
/*

$color1: hsla(221%, 95%, 22%, 1);
$color2: hsla(228%, 66%, 42%, 1);
$color3: hsla(207%, 76%, 38%, 1);
$color4: hsla(190%, 95%, 45%, 1);
$color5: hsla(0%, 0%, 100%, 1);

*/

/* RGB */
/*
$color1: rgba(3, 37, 108, 1);
$color2: rgba(37, 65, 178, 1);
$color3: rgba(23, 104, 172, 1);
$color4: rgba(6, 190, 225, 1);
$color5: rgba(255, 255, 255, 1);**/

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

*{
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif,Times;
	font-weight: 400;
	letter-spacing: .1rem;
	line-height: 1.7;
}

body{
	min-width: 700px;
/*	background-color: #D4ECFC;*/
}



#navbarMini{
	float: left;
	width: 100%;
	text-align: right;
}


#linkProfile, 
#linkUp, 
#linkIn, 
#linkOut,
#explanation{
	text-decoration: none;
}

#newUserForm{
	text-align: center;
	padding: 10px;

}
#newUserTitle{
	text-decoration: underline;
	text-align: center;
}

#signInTitle{
	text-decoration: underline;
}

#user_firstname{
	width: 200px;
}

#user_lastname{
	width: 200px;
}

#user_email{
	width: 200px;
}

#user_gender{
	width: 200px;
}

#user_dob{
	width: 200px;
}

#user_password{
	width: 200px;
}

#user_password_confirmation{
	width: 200px;
}

.field label{
	width: 175px;
	text-align: right;
	display: inline-block;
}

#alreadyMember{
	padding: 15px;
}

#signInForm{
	text-align: center;
	padding: 10px;
}


