// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	margin: 0 auto;
	// background: #FFD56D;
}


body{
	max-width: 90%;
	// margin: 0 auto;
}

.wrapperExplain{
	text-align: center;
}

<<<<<<< HEAD

.wrapperExplain{
=======
#indexButtons{
>>>>>>> 293f69c9682b5bf07dffc5cb8cb6b2bfcf95b721
	text-align: center;
	padding: 10px;
	display: inline-block;
	width:100%;
}
#indexButtons a {
	text-decoration: none;
}
#index_BTN_in,
#index_BTN_up{
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 3px 3px 10px #000;
    min-width: 150px;
    max-width: 250px;
    min-height: 60px;
    font-size: 15px;
    color: #000;
    font-family: Gill Sans, sans-serif;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
    padding: 1em 2em;
    background: #FED218;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

#index_BTN_up a{
	color: #000;
}
