// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	margin: 0 auto;
	// background: #FFD56D;
}


body{
	max-width: 95%;
	// margin: 0 auto;
}
body hr{
	width: 100%;
	text-align: center;
}

.wrapperExplain{
	text-align: center;
}

#welcomeImage{
	width: 350px;
	border: 1px solid white;
	border-radius: 200px;
	position: relative;
}

.hr{
/*	color: #77abff;*/
	color: #ffc966;
}

.subHead{
font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif,Times;
	font-weight: 400;
	font-size: 13pt;
	letter-spacing: .1rem;
}


#indexButtons{

	text-align: center;
	padding: 10px;
	display: inline-block;
	width:90%;
}
#indexButtons a {
	text-decoration: none;
}
#index_BTN_in,
#index_BTN_up{
	border: 1px solid #000;
	border-radius: 5px;
    width: 132px;
    // min-width: 100px;
    // max-width: 130px;
    min-height: 60px;
    font-size: 12px;
    color: #000;
    // font-family: Gill Sans, sans-serif;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
    padding: 1em 2em;
    // background: #FED218;
    background: white;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

#index_BTN_up a{
	color: #000;
}

#textboxes{
	width: 80%;
}

#textboxes p{
	width: 90%;
}

.textTitle{
}

.descrip{
	width: 85%;
}




























